{% extends 'base.html' %}

{% block title %}400. Requisição imprópria{% endblock title %}

{% block content %}

<div id="sponsors" class="text-center">
 <div class="container">
            <div class="section-title text-center wow fadeInDown">
                <br>
                <br>
                <br>
                <br>
                <h1>400</h1>
                <h2 class="textoh2"><strong>Requisição imprópria</strong></h2>
                <hr>
                <div class="clearfix"></div>
                <p class="lead">A requisição enviada não pode ser atendida.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                  <br>
                <br>
                <br>
                <br>
            </div>
       </div>
</div>

{% endblock content %}

{% block footer %}class="footero"{% endblock footer %}