{% extends 'base.html' %}

{% block title %}403. Proibido{% endblock title %}

{% block content %}

<div id="sponsors" class="text-center">
<div class="container">
    <div class="section-title text-center wow fadeInDown">
        <br>
        <br>
        <br>
        <br>
        <h1>403</h1>
        <h2 class="textoh2"><strong>Proibido</strong></h2>
        <hr>
        <div class="clearfix"></div>
        <p class="lead">Você não tem permissão para acessar este endereço.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <br>
                <br>
                <br>
                <br>
    </div></div>
</div>

{% endblock content %}

{% block footer %}class="footero"{% endblock footer %}