{% extends 'base.html' %}

{% block title %}500. Erro interno inesperado{% endblock title %}

{% block content %}

<div id="sponsors" class="text-center">
<div class="container">
            <div class="section-title text-center wow fadeInDown">
                <br>

                <br>
                <h1>500</h1>
                <h2 class="textoh2"><strong>Desculpe. Ocorreu um erro inesperado.</strong></h2>
                <hr>
                <div class="clearfix"></div>
                <p class="lead">Nossa equipe já foi notificada do problema.<br />
                       Caso necessário entre em contato com <a href="mailto:suporte@eventex.com.br?subject=500 Erro interno inesperado">suporte@eventex.com.br</a></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                  <br>
                <br>
                <br>
                <br>
            </div>
   </div>
</div>

{% endblock content %}

{% block footer %}class="footero"{% endblock footer %}