<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{% url 'home'  %}#home" class="page-scroll"><strong>HOME</strong></a>
    </li>
    <li>
        <a href="{% url 'home'  %}#conferencia" class="page-scroll"><strong>CONFERÊNCIA</strong></a>
    </li>
    <li><a href="{% url 'talk_list'  %}" class="page-scroll"><strong>PALESTRAS</strong></a></li>
    <li><a href="{% url 'home'  %}#about-section" class="page-scroll"><strong>PALESTRANTES</strong></a></li>
    <li>
        <a href="{% url 'home'  %}#sponsors" class="page-scroll"><strong>PATROCINADORES</strong></a>
    </li>
    <li>
        <a href="{% url 'home'  %}#register" class="page-scroll"><strong>INSCRIÇÃO</strong></a>
    </li>
    <li>
        <a href="{% url 'home'  %}#local" class="page-scroll"><strong>LOCAL</strong></a>
    </li>
    <li>
        <a href="{% url 'home'  %}#contact-section" class="page-scroll"><strong>CONTATO</strong></a>
    </li>
</ul>